body{
    font-family: 'Ubuntu';
}
.df{
    display: flex;
}
.sb{
    justify-content: space-between;
}
.d-col{
    flex-direction: column;
}
/* header */
.mobile-nav{
    position: fixed;
    top: 0;
    right: -800px;
    width: 100%;
    min-height: 100vh;
    display: none;
    z-index: 98;
    background-color: #191919;
    margin-top: 90px;
    transition: 0.4s;
}
.mobile-nav.is-active{
    right: 0;
}
.mobile-nav a{
    display: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s;
    margin: 3em 2em;
    width: fit-content;
    letter-spacing: 1.1px;
}
.mobile-nav a:hover{
    color: #CB0202;
}
header{
    background-color: #191919;
    height: 90px;
    display: flex;
    position: fixed;
    padding: 0 2em 0 1em;
    width: 100vw;
    z-index: 100;
}
.logo{
    margin-right: 3em;
}
.hdr-dvdr{
    height: 20px;
    width: 1px;
    opacity: 50%;
    background-color: white;
}
.hdr-wrp{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-wrp{
    max-width: 300px;
    width: 100%;
}
.nav-ul{
    max-width: 342px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.nav-wrp a{
    color: white;
    font: 1rem bold, 'Ubuntu';
    transition: 0.3s;
}
.nav-wrp a:hover{
    color: #CB0202;
}
/* burger */
.btn-wrp{
    display: none;
}
.tgl-btn{
	width: 1.7rem;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	cursor: pointer;
}
.tgl-btn span{
    width: 100%;
	height: 3px;
	background-color: white;
	transition: 0.15s ease-out;
}
.toggle span:nth-child(1){
    transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}
.toggle span:nth-child(2){
    display: none;
}
.toggle span:nth-child(3){
    transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}
/* header end */
/* index page */
/* .bg-img{
    background-image: url(../images/coral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
} */
.sec1-wrp{
    position: absolute;
    top: 200px;
    left: 0;
    padding-left: 15em;
}
.sec1-txt{
    max-width: 220px;
    width: 100%;
    color: white;
    text-transform: capitalize;
    line-height: 1.5rem;
    margin-bottom: 2em;
}
.sec1-wrp h1{
    font: 3rem bold, 'Ubuntu';
    margin-bottom: 0.4em;
}
.sec1-wrp h5{
    font: 1.25rem medium, 'Ubuntu';
    margin-bottom: 0.3em;
}
.sec1-wrp span{
    font: 0.8rem normal, 'Ubuntu';
}
/* index page end */
/* footer */
footer{
    background-color: white;
    padding: 0.8em 0 0.8em;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.ftr-wrp{
    max-width: 1092px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.ftr-lft{
    width: 167px;
    margin-right: 2em;
}
.txt-style1 h6{
    color: #212121;
    font: 0.9rem normal, 'Ubuntu';
    text-transform: uppercase;
    margin-bottom: 0.4em;
}
.txt-style1 p{
    color: #BDBDBD;
    font-size: 0.8rem;
    line-height: 1rem;
}
.ftr-mid{
    max-width: 467px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3px;
}
.txt-style2 h6{
    color: #BDBDBD;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: lighter;
    margin-bottom: 0.5em;
}
.txt-style2 span{
    color: #212121;
    font-size: 3rem;
    font-weight: 700;
}
.ftr-rght{
    max-width: 155px;
    margin-left: 2em;
}
.ftr-rght h6{
    color: #BDBDBD;
    font-size: 0.75rem;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 1em;
    line-height: 12px;
    letter-spacing: 0.3px;
}
.btn-style{
    max-width: 150px;
    width: 100%;
    height: 40px;
    border: 0.15em solid #CB0202;
    color: #CB0202;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-style:hover{
    color: black;
    border-color: black;
}
.btn-style:hover a{
    color: black;
}
.MI{
    color: white;
    border-color: white;
}
.MI:hover{
    color: #CB0202;
    border-color: #CB0202;
}
/* footer end */
/* info page */
.info-bg{
    background-image: url(../images/coral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 110px;
    height: 100%;
    position: absolute;
}
.info-wrp{
    background-color: white;
    max-width: 1100px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 2em 2em 2em 3em;
    border-radius: 20px 20px 0 0;
}
.MI-lft{
    max-width: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.MI-lft{
    color: black;
    text-transform: capitalize;
    line-height: 1.5rem;
}
.MI-lft h1{
    font: 3rem bolder, 'Ubuntu';
    margin-bottom: 0.4em;
    font-weight: 700;
}
.MI-lft h5{
    font: 1.25rem medium, 'Ubuntu';
    font-weight: 500;
    margin-bottom: 0.3em;
}
.MI-lft span{
    font: 0.8rem normal, 'Ubuntu';
} 
.BN-wrp{
    max-width: 150px;
}
.BN-wrp h6{
    color: #BDBDBD;
    font-size: 0.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 3em 0 2em;
    line-height: 12px;
}
.BN2{
    max-width: 150px;
    width: 100%;
    height: 40px;
    border: 0.15em solid #CB0202;
    color: #CB0202;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
}
.BN2:hover{
    border: 0.15em solid black;
    color: black;
}
.MI-top{
    display: flex;
    justify-content: space-between;
    margin-top: 3.75em;
}
.MI-img-wrp{
    display: flex;
    gap: 0.5em;
}
.MI-img-wrp div:nth-child(1),
.MI-img-wrp div:nth-child(2),
.MI-img-wrp div:nth-child(3){
    margin-right: 10px;
}
.MI-rght{
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0.5em 0 0 0.5em;
}
.MI-rght-top{
    max-width: 800px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.MI-rt{
    max-width: 167px;
    width: 100%;
}
.Mi-rght-top1{
    max-width: 467px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.MI-img-wrp{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.MI-img-box{
    max-width: 182px;
    width: 100%;
}
.MI-img-box img{
    width: 100%;
    border-radius: 20px;
    filter: drop-shadow(0px 10px 30px rgba(0, 42, 63, 0.5));
}
.MI-text{
    color: #212121;
    font-size: 1rem;
    font-weight: normal;
    line-height: 24px;
    margin-top: 4.75em;
}
.MI-text p{
    margin-bottom: 1em;
}
.back-info{
    left: -13px;
    top: 5.5%;
    position: absolute;
}
/* info page end */
/* payment page */
.pay-bg-img{
    background-image: url(../images/payment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}
.pay-wrp{
    max-width: 1100px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.pay-resp{
    flex: 1;
}
.pay-wrp h1{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    padding: 1em 0 1em;
}
.pay-box-wrp{
    max-width: 700px;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 3em 5.625em;
    border-radius: 20px 0px 0px 0px;
    position: relative;
}
.pay-box-wrp h2{
    color: #212121;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2.625em;
}
.pay-box-wrp1{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
.pay-card-list img:nth-child(2){
    margin: 0 1.5em 0 1.5em;
}
.pay-card-list{
    margin-bottom: 41px;
}
.pay-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.pay-form2 div:nth-child(1),
.pay-form2 div:nth-child(2){
    display: flex;
    flex-direction: column;
}
.pay-form input{
    border: 1px solid #BDBDBD;
    border-radius: 4px;
}
.inpt-stl{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.inpt-stl1{
    width: 150px;
    height: 40px;
    padding-left: 10px;
}
.form-stl{
    font-size: 0.8rem;
    font-weight: normal;
    color: #BDBDBD;
}
.check-box{
    display: flex;
    align-items: center;
}
.checkbox{
    margin: 0.8em 0 0 1em;
}
.check-box input{
    height: 18px;
    width: 18px;
}
input{
    margin-top: 1em;
}
.pay-form div:nth-child(1){
    margin-bottom: 0.8em;
}
.pay-booking{
    max-width: 400px;
    width: 100%;
    height: 100%;
    background: #212121;
    border-radius: 0px 20px 0px 0px;
    padding: 3.125em 5em;
}
.pay-booking h2{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin-bottom: 3em;
}
.booking-list li{
    color: #BDBDBD;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 16px;
}
.booking-mb{
    margin-bottom: 3.8em;
}
.booking-altstyle li:nth-child(1){
    color: white;
}
.booking-list{
    color: white;
}
.booking-altNumber li{
    font-size: 1.5rem;
    font-weight: bold;
}
.booking-btn{
    max-width: 245px;
    width: 100%;
}
.booking-btn{
    display: flex;
    justify-content: center;
}
.btn{
    background-color: #CB0202;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 3em;
}
.btn:hover{
    opacity: 90%;
    cursor: pointer;
    color: black;
    background-color: white;
}
.go-back{
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    background-color: #CB0202;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.back-pay{
    left: -18px;
    top: 5.5%;
    position: absolute;
}
.go-back a{
    color: white;
}
.go-back:hover{
    background-color: white;
    border: 1px solid #CB0202;
    color: #CB0202;
}
.go-back:hover a{
    color: #CB0202;
}
.tst1{
    margin-left: 1em;
}
/* payment page end */
/* blog page */
.blog-wrp{
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}
.blog1{
  align-items: center;
  padding-top: 115px;
  margin-bottom: 6em;
}
.blog1 h1{
    font-size: 7.9rem;
    font-weight: bold;
    letter-spacing: -0.042em;
    color: #231F20;
}
.blog1 span{
    max-width: 250px;
    width: 100%;
    margin: 3em 0 0 4em;
    color: #A4A4A4;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: -0.5px;
}
.blog2 ul{
    display: flex;
    justify-content: space-between;
    max-width: 550px;
    width: 100%;
}
.blog2 a{
    color: #A4A4A4;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
}
.blog2 a:hover{
    color: #CB0202;
}
.blog-active{
    font-size: 12px;
    font-weight: bold;
    color: #CB0202;
}
.blog-dvdr{
    height: 0.5px;
    width: 100%;
    background-color:#BEBEBE;
    margin: 2.81em 0 2.81em;
    opacity: 50%;
}
.blog-box-style h2{
    color: #231F20;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.blog-box-style h2:nth-child(1){
    margin-bottom: 3.5em;
}
.blog-box:hover h2{
    color: #CB0202;
}
.blog-prof{
    display: flex;
    align-items: center;
    color: #231F20;
    font-size: 0.7rem;
    font-weight: 900;
}
.blog-prof::before{
    content: url('../images/profile1.png');
    margin-right: 1em;
}
.blog-box{
    max-width: 260px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.blog-box img{
    margin: 0.6em 0 1.37em;
}
.blog-box-ftr{
    margin-top: 1em;
    align-items: center;
}
.blog-i-wrp{
    max-width: 90px;
    width: 100%;
}
.blog-box-ftr span{
    color: #BEBEBE;
    font-size: 0.7rem;
}
.trending-box-wrp{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.blog-prof2::before{
    content: url('../images/profile2.png');
    margin-right: 1em;
}
.blog-prof3::before{
    content: url('../images/profile3.png');
    margin-right: 1em;
}
.blog-seeall i{
    color: black;
    
}
.blog-seeall span{
    color: #CB0202;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 1em;
}
.seeall{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3em;
}
.blog-sec{
    padding-bottom: 6em;
}
/* blog page end */
/* discover page */
.dscvr-wrp{
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
    padding-top: 100px;
}
.dscvr-head{
    align-items: center;
}
.dscvr-head h1{
    color:#231F20;
    font-size: 7.9rem;
    letter-spacing: -0.042em;
    margin: 0.2em 0 0.6em;
}
.dscvr-head span{
    color: #A4A4A4;
    font-size: 1rem;
    max-width: 180px;
    width: 100%;
    margin-left: 2em;
}
.dscvr-box-wrp{
    flex-wrap: wrap;
}
.dscvr-box{
    max-width: 212px;
    width: 100%;
}
.dscvr-box img{
    width: 100%;
    border-radius: 7%;
}
.dscvr-box-wrp1 a{
    max-width: 212px;
    width: 100%;
}
.dscvr-box-wrp1{
    max-width: 1100px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
    padding-bottom: 2em;
}
.disc-mrgn{
    margin-right: 2em;
}
.dscvr-box h4{
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
}
.dscvr-box span{
    color: #BEBEBE;
    font-size: 0.7rem;
    letter-spacing: -0.4px;
}
.dscvr-box div:nth-child(2){
    margin: 2em 0 0.8em;
}
.dscvr-box div:nth-child(3){
    margin-bottom: 0.7em;
}
.dscvr-box-wrp1 a:hover h4,
.dscvr-box-wrp1 a:hover span{
    color: #CB0202;
}
/* discover page end */
/* login page */
.login-bg{
    background-image: url(../images/payment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}
.login-sec{
    display: flex;
}
.login-lft{
    max-width: 1000px;
    width: 95%;
    padding: 2em 1em;
    margin: 0 auto;
}
.login-lft h1{
    max-width: 571px;
    width: 100%;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    margin: 3.2em 0 0.5em;
    letter-spacing: 1px;
    line-height: 1.3em;
}
.login-lft div{
    max-width: 370px;
    width: 100%;
}
.login-lft span{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.3em;
}
.login-rght-wrp{
    background-color: white;
    padding: 2.5em 5em;
    position: relative;
}
.login-rght{
    display: flex;
    flex-direction: column;
}
.log-top{
    text-align: end;
}
.log-top span:nth-child(1){
    color: #BDBDBD;
    font-size: 0.75rem;
    margin-right: 1em;
}
.log-top span:nth-child(2) a{
    color: #CB0202;
    font-size: 1rem;
    font-weight: bold;
}
.log-mid h3{
    font-size: 2rem;
    font-weight: 700;
    color: #212121;
    margin: 122px 0 40px;
}
.log-icons{
    max-width: 290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.log-icons img{
    padding: 1em 2em;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.log-dvdr-wrp{
    max-width: 290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0;
}
.login-dvdr{
    max-width: 123.9px;
    width: 100%;
    height: 1px;
    background-color: #BDBDBD;
}
.log-dvdr-wrp span{
    color: #BDBDBD;
    font-size: 10px;
}
.login{
    display: flex;
    flex-direction: column;
}
.login input{
    width: 100%;
    height: 40px;
    padding: 1em;
    border: 1px solid #BDBDBD;
    color: black;
    border-radius: 4.5px;
}
.log-chck{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0 2.5em;
}
.log-chck input{
    height: 18px;
    width: 18px;
}
.log-chck label{
    color: #A4A4A4;
    font-size: 0.75rem;
    margin: 0.8em 0 0 0.8em;
}
.log-chck a{
    color: #A4A4A4;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.log-chck span{
    margin-top: 0.5em;
}
.log-chck a:hover{
    color: #212121;
}
.chck{
    align-items: center;
}
.signin-btn{
    width: 100%;
    height: 40px;
    background-color: #CB0202;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: 'Ubuntu';
}
.signin-btn:hover{
    background-color: white;
    border: 1px solid #CB0202;
    color: #CB0202;
}
.back-log{
    left: -18px;
    top: 2.5%;
    position: absolute;
}
/* login page end */


/* test */
  
.slider {
    display: flex;
    position: relative;
}
/* .slider .slider_item {
    min-height: 100vh;
} */
.slider_item{
    width: 100%;
    height: 100vh;
}
.slider_item img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.slick-slider{
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
    transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{
    clear: both;
}
.slick-loading .slick-track{
    visibility: hidden;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{
    float: right;
}
.slick-slide img{
    display: block;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
    display: none;
}
.prev,
.next{
    color: #212121;
    background-color: #fff;
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    opacity: 80%;
    position: absolute;
    z-index: 20;
}
.prev:hover{
    opacity: 100%;
    cursor: pointer;
}
.next:hover{
    cursor: pointer;
    opacity: 100%;
}
.prev{
    left: 16.5em;
    top: 80%;
}
.next{
    left: 20em;
    top: 80%;
}



