html{
    font-family: 'Ubuntu';
}
.df{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.sb{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.d-col{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
input{
    font-family: 'Ubuntu';
    font-size: 1rem;
}
.dash{
    height: 18px;
    width: 1.8px;
    border-radius: 50px;
    background-color: white;
    margin: 0 -25px 0 -25px;
}

/* Header */
header{
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #191919;
    z-index: 100;
}
.slider_wrapper h1{
    font-size: 3rem;
    font-weight: 700;
    line-height: 56px;
    margin-bottom: 8px;
}
.slider_wrapper h5{
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 10px;
}
.footer_wrapper h6{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}
.hdr_container{
    max-width: 1280px;
    width: 95%;
    height: 88px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5.4rem;
}
.nav_list{
    display: flex;
    gap: 4rem;
}
.hdr_navigation{
    flex-grow: 1;
}
.nav_list li:nth-of-type(4){
    margin-left: auto;
}
.nav_list a{
    font-size: 14px;
    font-weight: 700;
    color: #ffff;
}
.nav_list a:hover{
    opacity: 75%;
}
/* Burger bar */
.toggle_menu{
    width: 24px;
    height: 24px;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
    display: none;
}
.toggle_menu span{
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: #ffff;
    transition: all 0.2s linear;
    z-index: 200;
}
.active span:nth-child(1){
    transform: translate(0, 8.5px) rotate(-45deg);
}
.active span:nth-child(2){
    opacity: 0;
}
.active span:nth-child(3){
    transform: translate(0, -7.5px) rotate(45deg);
}
.nav_list.toggle{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #191919;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
}
/* Slider */
.slider_wrapper{
    line-height: 0;
}
.slider_img{
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
    object-fit: cover;
}
.slider_content{
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    height: 0;
}
i{
    font-size: 1.2rem;
}
.slider_ftr{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 220px;
}
.slider_ftr a:nth-of-type(1){
    margin-left: auto;
}
.arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    outline: none;
    background-color: #fff;
    color: #212121;
}
.arrow_right{
    margin-left: 1em;
}
.arrow:hover{
    opacity: 90%;
}
.item_container{
    position: absolute;
    top: 155px;
    color: #fff;
    max-width: 220px;
}
.more_info{
    position: absolute;
    right: 0;
    color: #fff;
    max-width: 150px;
    width: 100%;
    height: 40px;
    border: 0.15em solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.more_info:hover{
    opacity: 75%;
}

/* Footer */
footer{
    width: 100%;
    height: 124px;
    background-color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
}
.footer_wrapper{
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.ftr_first{
    max-width: 167px;
    width: 100%;
}
.ftr_first p{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #bdbdbd;
    margin-top: 10px;
}
.ftr_mid{
    max-width: 467px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.ftr_mid h6{
    color: #bdbdbd;
}
.ftr_mid span{
    font-size: 3rem;
    font-weight: 700;
    color: #212121;
    line-height: 56px;
}
.ftr_last{
    max-width: 150px;
    width: 100%;
}
.ftr_last h6{
    color: #bdbdbd;
}
.ftr_last a{
    color: #cb0202;
    font-size: 14px;
    font-weight: 700;
    max-width: 150px;
    width: 100%;
    height: 40px;
    border: 0.15em solid #cb0202;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
}
/* info page */
.info-bg{
    background-image: url(../images/coral.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 110px;
    height: 100vh;
    position: relative;
    /* position: relative;
    display: flex;
    justify-content: center; */
}
/* .info_bg-wrp{
    width: 100%;
    position: absolute;
    line-height: 0;
}
.info_background{
    width: 100%;
    height: 100vh;
    object-fit: cover;
} */
.info-wrp{
    background-color: white;
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    height: -webkit-fill-available;
    /* top: 110px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    /* z-index: 10; */
    padding: 2em 2em 2em 3em;
    border-radius: 20px 20px 0 0;
}
.MI-rt h6{
    color: #212121;
    font-size: 10px;
    text-transform: uppercase;
}
.MI-rt p{
    color: #BDBDBD;
    font-size: 12px;
    margin-top: 10px;
}
.Mi-rght-top1 h6{
    color: #BDBDBD;
    font-size: 10px;
    text-transform: uppercase;
}
.Mi-rght-top1 span{
    color: #212121;
    font-size: 48px;
    font-weight: 700;
}
.MI-lft{
    max-width: 220px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.MI-lft{
    color: black;
    text-transform: capitalize;
    line-height: 1.5rem;
}
.MI-lft h1{
    font: 3rem bolder, 'Ubuntu';
    margin-bottom: 0.4em;
    font-weight: 700;
}
.MI-lft h5{
    font: 1.25rem medium, 'Ubuntu';
    font-weight: 500;
    margin-bottom: 0.3em;
}
.MI-lft span{
    font: 0.8rem normal, 'Ubuntu';
} 
.BN-wrp{
    max-width: 150px;
}
.BN-wrp h6{
    color: #BDBDBD;
    font-size: 0.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin: 3em 0 2em;
    line-height: 12px;
}
.BN2{
    max-width: 150px;
    width: 100%;
    height: 40px;
    border: 0.15em solid #CB0202;
    color: #CB0202;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: capitalize;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.BN2:hover{
    border: 0.15em solid black;
    color: black;
}
.MI-top{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 3.75em;
}
.MI-rght{
    max-width: 800px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0.5em 0 0 0.5em;
}
.MI-rght-top{
    max-width: 800px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.MI-rt{
    max-width: 167px;
    width: 100%;
}
.Mi-rght-top1{
    max-width: 467px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.MI-img-wrp{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.5em;
    gap: 1.5em;
}
.MI-img-box{
    max-width: 182px;
    width: 100%;
}
.MI-img-box img{
    width: 100%;
    height: 182px;
    object-fit: cover;
    border-radius: 20px;
    -webkit-filter: drop-shadow(0px 10px 30px rgba(0, 42, 63, 0.5));
            filter: drop-shadow(0px 10px 30px rgba(0, 42, 63, 0.5));
}
.MI-text{
    color: #212121;
    font-size: 1rem;
    font-weight: normal;
    line-height: 24px;
    margin-top: 4.75em;
}
.MI-text p{
    margin-bottom: 1em;
}
.back-info{
    left: -13px;
    top: 5.5%;
    position: absolute;
}
/* info page end */
/* payment page */
.pay-bg-img{
    background-image: url(../images/payment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
}
.pay-wrp{
    max-width: 1100px;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.pay-resp{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.pay-wrp h1{
    font-size: 3rem;
    color: white;
    font-weight: bold;
    padding: 1em 0 1em;
}
.pay-box-wrp{
    max-width: 700px;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 3em 5.625em;
    border-radius: 20px 0px 0px 0px;
    position: relative;
}
.pay-box-wrp h2{
    color: #212121;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2.625em;
}
.pay-box-wrp1{
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
}
.pay-card-list img:nth-child(2){
    margin: 0 1.5em 0 1.5em;
}
.pay-card-list{
    margin-bottom: 41px;
}
.pay-form{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.pay-form2 div:nth-child(1),
.pay-form2 div:nth-child(2){
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.pay-form input{
    border: 1px solid #BDBDBD;
    border-radius: 4px;
}
.inpt-stl{
    width: 100%;
    height: 40px;
    padding-left: 10px;
}
.inpt-stl1{
    width: 150px;
    height: 40px;
    padding-left: 10px;
}
.form-stl{
    font-size: 0.8rem;
    font-weight: normal;
    color: #BDBDBD;
}
.check-box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.checkbox{
    margin: 1em 0 0 1em;
}
.check-box input{
    height: 18px;
    width: 18px;
}
input{
    margin-top: 1em;
}
.pay-form div:nth-child(1){
    margin-bottom: 0.8em;
}
.pay-booking{
    max-width: 400px;
    width: 100%;
    height: 100%;
    background: #212121;
    border-radius: 0px 20px 0px 0px;
    padding: 3.125em 5em;
}
.pay-booking h2{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
    margin-bottom: 3em;
}
.booking-list li{
    color: #BDBDBD;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 16px;
}
.booking-mb{
    margin-bottom: 3.8em;
}
.booking-altstyle li:nth-child(1){
    color: white;
}
.booking-list{
    color: white;
}
.booking-altNumber li{
    font-size: 1.5rem;
    font-weight: bold;
}
.booking-btn{
    max-width: 245px;
    width: 100%;
}
.booking-btn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.btn{
    background-color: #CB0202;
    color: white;
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 3em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.btn:hover{
    opacity: 90%;
    cursor: pointer;
    color: black;
    background-color: white;
}
.go-back{
    font-size: 1.2rem;
    width: 40px;
    height: 40px;
    background-color: #CB0202;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.back-pay{
    left: -18px;
    top: 5.5%;
    position: absolute;
}
.go-back a{
    color: white;
}
.go-back:hover{
    background-color: white;
    border: 1px solid #CB0202;
    color: #CB0202;
}
.go-back:hover a{
    color: #CB0202;
}
.tst1{
    margin-left: 1em;
}

/* blog page */
.blog-wrp{
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
}
.blog1{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 115px;
  margin-bottom: 6em;
}
.blog1 h1{
    font-size: 7.9rem;
    font-weight: bold;
    letter-spacing: -0.042em;
    color: #231F20;
}
.blog1 span{
    max-width: 250px;
    width: 100%;
    margin: 3em 0 0 4em;
    color: #A4A4A4;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: -0.5px;
}
.blog2 ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 550px;
    width: 100%;
}
.blog2 a{
    color: #A4A4A4;
    font-size: 12px;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.blog2 a:hover{
    color: #CB0202;
}
.blog-active{
    font-size: 12px;
    font-weight: bold;
    color: #CB0202;
}
.blog-dvdr{
    height: 0.5px;
    width: 100%;
    background-color:#BEBEBE;
    margin: 2.81em 0 2.81em;
    opacity: 50%;
}
.blog-box-style h2{
    color: #231F20;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -0.5px;
}
.blog-box-style h2:nth-child(1){
    margin-bottom: 3.5em;
}
.blog-hvr:hover img{
    opacity: 100%;
}
.blog-hvr:hover h2{
    color: #CB0202;
}
.blog-prof{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #231F20;
    font-size: 0.7rem;
    font-weight: 900;
}
.blog-prof::before{
    content: url('../images/profile1.png');
    margin-right: 1em;
}
.blog-box{
    max-width: 260px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.blog-box img{
    margin: 0.6em 0 1.37em;
    opacity: 85%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.blog-box-ftr{
    margin-top: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.blog-i-wrp{
    max-width: 90px;
    width: 100%;
}
.blog-box-ftr span{
    color: #BEBEBE;
    font-size: 0.7rem;
}
.trending-box-wrp{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.blog-prof2::before{
    content: url('../images/profile2.png');
    margin-right: 1em;
}
.blog-prof3::before{
    content: url('../images/profile3.png');
    margin-right: 1em;
}
.blog-seeall i{
    color: black;
    
}
.blog-seeall span{
    color: #CB0202;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 1em;
}
.seeall{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 3em;
}
.blog-sec{
    padding-bottom: 6em;
}

/* discover page */
.dscvr-wrp{
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    padding-top: 100px;
}
.dscvr-head{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.dscvr-head h1{
    color:#231F20;
    font-size: 7.9rem;
    letter-spacing: -0.042em;
    margin: 0.2em 0 0.6em;
}
.dscvr-head span{
    color: #A4A4A4;
    font-size: 1rem;
    max-width: 180px;
    width: 100%;
    margin-left: 2em;
}
.dscvr-box-wrp{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.dscvr-box{
    max-width: 212px;
    width: 100%;
}
.dscvr-box img{
    width: 100%;
    border-radius: 7%;
    opacity: 85%;
}
.dscvr-box-wrp1 a{
    max-width: 212px;
    width: 100%;
}
.dscvr-box-wrp1{
    max-width: 1280px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 3em;
    padding-bottom: 2em;
}
.disc-mrgn{
    margin-right: 2em;
}
.dscvr-box h4{
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
}
.dscvr-box span{
    color: #BEBEBE;
    font-size: 0.7rem;
    letter-spacing: -0.4px;
}
.dscvr-box div:nth-child(2){
    margin: 2em 0 0.8em;
}
.dscvr-box div:nth-child(3){
    margin-bottom: 0.7em;
}
.dscvr-box-wrp1 a:hover h4,
.dscvr-box-wrp1 a:hover span,
.dscvr-box-wrp1 a:hover img{
    color: #CB0202;
    opacity: 100%;
}

/* login page */
.login-bg{
    background-image: url(../images/payment.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
}
.login-sec{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.login-lft{
    max-width: 1000px;
    width: 95%;
    padding: 2em 1em;
    margin: 0 auto;
}
.login-lft h1{
    max-width: 571px;
    width: 100%;
    font-size: 4.5rem;
    font-weight: bold;
    color: white;
    margin: 3.2em 0 0.5em;
    letter-spacing: 1px;
    line-height: 1.3em;
}
.login-lft div{
    max-width: 370px;
    width: 100%;
}
.login-lft span{
    color: white;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.3em;
}
.login-rght-wrp{
    background-color: white;
    padding: 2.5em 5em;
    position: relative;
}
.login-rght{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.log-top{
    text-align: end;
}
.log-top span:nth-child(1){
    color: #BDBDBD;
    font-size: 0.75rem;
    margin-right: 1em;
}
.log-top a{
    color: #CB0202;
    font-size: 1rem;
    font-weight: bold;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.log-top a:hover{
    color: #212121;
}
.log-mid h3{
    font-size: 2rem;
    font-weight: 700;
    color: #212121;
    margin: 122px 0 40px;
}
.log-icons{
    max-width: 290px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.log-icons a{
    padding: 1em 2em;
    -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
}
.log-dvdr-wrp{
    max-width: 290px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2em 0;
}
.login-dvdr{
    max-width: 123.9px;
    width: 100%;
    height: 1px;
    background-color: #BDBDBD;
}
.log-dvdr-wrp span{
    color: #BDBDBD;
    font-size: 10px;
}
.login{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.login input{
    width: 100%;
    height: 40px;
    padding: 1em;
    border: 1px solid #BDBDBD;
    color: black;
    border-radius: 4.5px;
}
.log-chck{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 1em 0 2.5em;
}
.log-chck input{
    height: 18px;
    width: 18px;
}
.log-chck label{
    color: #A4A4A4;
    font-size: 0.75rem;
    margin: 0.8em 0 0 0.8em;
}
.log-chck a{
    color: #A4A4A4;
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 0.7px;
}
.log-chck span{
    margin-top: 0.5em;
}
.log-chck a:hover{
    color: #212121;
}
.chck{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.signin-btn{
    width: 100%;
    height: 40px;
    background-color: #CB0202;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: 'Ubuntu';
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.signin-btn:hover{
    background-color: white;
    border: 1px solid #CB0202;
    color: #CB0202;
}
.back-log{
    left: -18px;
    top: 2.5%;
    position: absolute;
}

/* Slider */
.slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}
.slider_item{
    width: 100%;
    height: 100vh;
}
.slider_item img {
    width: 100%;
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
}
.slick-slider{
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
}
.slick-list{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus{
    outline: none;
}
.slick-list.dragging{
    cursor: pointer;
    cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list{
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}
.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after{
    display: table;
    content: '';
}
.slick-track:after{
    clear: both;
}
.slick-loading .slick-track{
    visibility: hidden;
}
.slick-slide{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide{
    float: right;
}
.slick-slide img{
    display: block;
}
.slick-slide.slick-loading img{
    display: none;
}
.slick-slide.dragging img{
    pointer-events: none;
}
.slick-initialized .slick-slide{
    display: block;
}
.slick-loading .slick-slide{
    visibility: hidden;
}
.slick-vertical .slick-slide{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden{
    display: none;
}
.prev,
.next{
    color: #fff;
    background-color: #000;
    font-size: 0.8rem;
    height: 35px;
    width: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 50%;
    opacity: 50%;
    position: absolute;
    z-index: 20;
}
.prev:hover{
    opacity: 100%;
    cursor: pointer;
}
.next:hover{
    cursor: pointer;
    opacity: 100%;
}
.prev{
    left: 2%;
    top: 55%;
}
.next{
    right: 2%;
    top: 55%;
}

/* Guide Page */
.guide-wrp{
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    padding-top: 150px;
}
.guide-content ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
}
.guide-img_wrapper{
    max-width: 150px;
    width: 100%;
    height: 150px;
    margin-bottom: 0.7em;
}
.guide-img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.guide-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #191919;
}
.guide-content_wrp{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}
#loadMore{
    background-color: #CB0202;
    color: white;
    max-width: 100px;
    width: 100%;
    height: 40px;
    font-family: 'Ubuntu';
    font-weight: 700;
    border: 0.14em solid #CB0202;
    border-radius: 50px;
    transition: 0.3s;
    margin: 4em 1.5em;
}
#loadMore:hover{
    color: #cb0202;
    border-color: #cb0202;
    background-color: white;
    cursor: pointer;
}
.guide-span_wrapper{
    font-weight: bold;
}
.guide-span_wrapper span:nth-child(1){
    margin-right: 0.3em;
}
.guide-email_wrapper{
    font-size: 0.9em;
    margin-top: 0.5em;
}
.guide-list:hover{
    color: #CB0202;
    cursor: pointer;
}
.guide-wrp h2{
    color: #CB0202;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    margin: -0.5em 0 2.5em;
}
.contact-loadmore{
    max-width: 1280px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-loadmore span{
    height: 0.5px;
    width: 100%;
    background-color: #BEBEBE;
    margin: 2.81em 0 2.81em;
    opacity: 50%;
}

